* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Orbitron", sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #2C3E4F;
}

.credit {
    text-align: center;
    width: 500px;
    margin: 50px auto;
    color: #FFF8CD;
}

.whole {
    padding-top: 0;
    height: 100%;
    width: 500px;
    margin: 0 auto;
}

.container {
    width: 240px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'screenTop screenTop screenTop screenTop'
        'screenBottom screenBottom screenBottom screenBottom'
        'clear clear . .'
        '. . . .'
        '. . . .'
        '. . . .'
        '. . equal equal';
    grid-auto-rows: 60px;
    grid-auto-columns: 60px;
    text-align: center;
}

/*.container div {
    width: 100%;
}*/

.container {
    background-color: #282828;
}

.container button {
    background-color: #282828;
    color: #FCFEFD;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.07s ease;
}

.container button:hover {
    background-color: #FC461E;
}

.container button:focus {
    outline: none;
}

[data-key="screenTop"]  {
    grid-area: screenTop;
    color: #C2C2C2;
    align-self: end;
    padding: 5px;
    text-align: right;
    direction: rtl;
    overflow: hidden;
}


[data-key="screenBottom"] {
    grid-area: screenBottom;
    border-bottom: 2px solid white;
    color: #FFF8CD;
    align-self: end;
    padding: 5px;
    text-align: right;
    direction: rtl;
    overflow: hidden;
}

span {

    direction: ltr;
    unicode-bidi: bidi-override;
    white-space: nowrap;
}

div {
    width: 240px;
}

[data-key="clear"] {
    grid-area: clear;
}
.container button[data-key="="] {
    grid-area: equal;
    background-color: #FC461E;
}

.container button[data-key="="]:hover {
    background-color: #0C644F;
}

.container button.enterPressed {
    background-color: #0C644F;
    transform: scale(1.2);
    border: 1px solid white;
}

.container button.keyPressed {
    background-color: #FC461E;
    border: 1px solid white;
    transform: scale(1.2);
}

